@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image {
    height: 150px;
    width: 200px;
    padding: 5px;
}

.container {
    text-align: center;
    font-family: Bree Serif;
    color: #183b56;
}

.button {
    border: 0px;
}

.bg-card-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 100vh;
}


.card-container {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.heading {
    font-family: Bree Serif;
    color: #5752ab;
    font-size: 25px;
    font-weight: bold;

}

.paragraph {
    font-family: Roboto;
    color: #323f4b;
    font-weight: bold;
}

.button-a {
    font-family: Roboto;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 5px;
}

.button-b {
    font-family: Roboto;
    color: white;
    background-color: #171f46;
    border-radius: 5px;
    margin-left: 5px;
}

.bg-card-container-4 {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.card {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

.bg-container-2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.meal-card {
    background-color: #f6c56e;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.heading {
    font-family: BreeSerif;
}

.para {
    font-family: Roboto;
}

.button {
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 35px;
    width: 136px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    background-size: cover;
    height: 30vh;
}

.diwali-top-section-heading {
    color: white;
    font-family: Caveat;
    font-size: 27px;
    padding: 20px;
    width: 150px;
}

.diwali-bottom-section {
    background-color: #e6f6ff;
    padding: 10px;
    text-align: center;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 100px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.diwali-card-image {
    height: 50px;
    width: 50px;
}

.diwali-card-name {
    font-family: Roboto;
    font-size: 12px;
    color: #616e7c;
    padding: 5px;
}

.diwali-card-price {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #323f4b;
}